* {
  font-family: 'Boogaloo';
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./assets/img/5_background/canyon.background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

canvas {
  background-color: black;
}

h1 {
  font-size: 64px;
  -webkit-text-stroke: 0.4px black;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 0 16px 0;
  white-space: nowrap;
  background: #FF9D00;
  background: -moz-linear-gradient(-45deg, #FF9D00 0%, #FFDC03 50%, #FF9D00 100%);
  background: -webkit-linear-gradient(-45deg, #FF9D00 0%, #FFDC03 50%, #FF9D00 100%);
  background: linear-gradient(135deg, #FF9D00 0%, #FFDC03 50%, #FF9D00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.impressum {
  
  background-color: #FFDC03;
  padding: 5px;
  border: 1px solid #FF9D00;
}

.d_none {
  display: none !important;
}

.start-screen,
.endscreen {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.start-screen {
  background-image: url('./assets/img/9_intro_outro_screens/start/startscreen_1.png');
}

.endscreen__background,
.endscreen__result {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.endscreen__result {
  object-fit: contain;
  max-width: 60%;
  max-height: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.game-wrapper {
  width: 720px;
  height: 480px;
  position: relative;
  transform-origin: center center;
}

.game-wrapper:fullscreen {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-wrapper:fullscreen>canvas,
.game-wrapper:fullscreen>.start-screen,
.game-wrapper:fullscreen>.endscreen {
  flex-shrink: 0;
  width: min(100vw, 100vh *1.5);
  height: min(100vh, 100vw /1.5);
  position: relative;
}

button {
  display: flex;
  align-items: center;
  gap: 4px;
  border: none;
  border-radius: 6px;
  text-transform: uppercase;
}

button:hover {
  cursor: pointer;
}

.button {
  letter-spacing: 1px;
  color: #7a3c00;
  background: #362610;
  box-shadow: 0 6px 0 #a07800, 0 7px 8px rgba(0, 0, 0, 0.4);
  transition: transform 0.08s, box-shadow 0.08s;
  font-size: 24px;
}

.button__img {
  width: 48px;
  height: 48px;
}

.button__instructions {
  padding: 0;
  position: absolute;
  left: 2%;
  bottom: 20%;
  align-items: center;
}

.button__mute {
  position: absolute;
  top: 2%;
  left: 10%;
  padding: 0;
  width: 48px;
  height: 48px;
}

.button__play {
  padding: 0 2px;
  position: absolute;
  top: 47%;
  left: 31%;
  transform: translate(-0%, -0%);
  font-size: 24px
}

.button__settings {
  position: absolute;
  top: 2%;
  right: 1%;
  align-items: center;
}

.button__impressum {
  font-size: 16px;
  padding: 2px;
  position: absolute;
  bottom: 20%;
  left: 50%;
}

.button__fullscreen {
  width: 30px;
  height: 30px;
  border: none;
  position: absolute;
  top: 72%;
  right: 5%;
  background: none;
}

.button__mobile {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 3%;
  border-radius: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

.button__mobile--left {
  left: 5%;
}

.button__mobile--right {
  left: 20%;
}

.button__mobile--jump {
  right: 5%;
  bottom: 15%;
}

.button__mobile--attack {
  color: black;
  right: 5%;
}

.icon__mobile {
  width: 20px;
  height: 20px;
}

.icon__mobile--left {
  transform: rotate(90deg);
}

.icon__mobile--right {
  transform: rotate(270deg);
}

.icon__mobile--up {
  transform: rotate(180deg);
}

.icon__mobile--attack {
  transform: rotate(130deg);
}

#rotateHint {
  display: none;
  max-width: 100%;
}

#rotateHint p {
  margin: 0;
  text-align: center;
  width: 90%;
  min-width: 0;
  overflow-wrap: break-word;
}

@media (orientation: portrait) and (max-width: 933px) {

  html,
  body {
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  .game-wrapper {
    display: none;
  }

  #rotateHint {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    background-color: #000;
    color: #fff;
    z-index: 999;
  }
}

@media (orientation: landscape) and (max-width: 933px) {

  html,
  body {
    position: fixed;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background: #000;
    background-image: none;
    display: block;
  }

  body {
    position: relative;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
  }

  h1,
  p,
  .button__fullscreen {
    display: none;
  }

  .game-wrapper {
    position: fixed;
    top: 50vh;
    left: 50vw;
    margin: -240px 0 0 -360px;
    transform-origin: center center;
  }

  .button__mobile {
    display: flex;
  }

  .button__mute,
  .button__settings {
    top: 10%;
  }

  .button__play {
    top: 55%;
  }

  .button__instructions {
    bottom: 10%;
  }

  .start-screen,
  .endscreen {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}