* {
  font-family: 'Boogaloo';
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('./assets/img/5_background/canyon.background.png');
  background-repeat: no-repeat;
  background-position: cover;
}

canvas {
  background-color: black;
}

h1 {
  background: #FF9D00;
  background: -moz-linear-gradient(-45deg, #FF9D00 0%, #FFDC03 50%, #FF9D00 100%);
  background: -webkit-linear-gradient(-45deg, #FF9D00 0%, #FFDC03 50%, #FF9D00 100%);
  background: linear-gradient(135deg, #FF9D00 0%, #FFDC03 50%, #FF9D00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.d_none {
  display: none !important;
}

.game-wrapper {
  width: 720px;
  height: 480px;
  position: relative;
}

.start-screen {
  width: 720px;
  height: 480px;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  background-image: url('./assets/img/9_intro_outro_screens/start/startscreen_1.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.endscreen {
  width: 720px;
  height: 480px;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  background-size: contain;
  background-repeat: no-repeat;
}

.endscreen__background {}

.endscreen__result {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

button {
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  color: #7a3c00;
  background: #362610;
  box-shadow: 0 6px 0 #a07800, 0 7px 8px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  gap: 4px;
  transition: transform 0.08s, box-shadow 0.08s;
}

button:hover {
  cursor: pointer;
}

.button {
  font-size: 24px;
  display: flex;
}

.button__img {
  width: 48px;
  height: 48px;
}

.button__instructions {
  padding: 0;
  position: absolute;
  top: 72%;
  right: 1%;
  align-items: center;
}

.button__mute {
  position: absolute;
  top: 2%;
  left: 10%;
  padding: 0;
  width: 48px;
  height: 48px;
}

.button__play {
  padding: 0 2px;
  position: absolute;
  top: 47%;
  left: 31%;
  transform: translate(-0%, -0%);
  font-size: 24px
}

.button__settings {
  position: absolute;
  top: 2%;
  right: 1%;
  align-items: center;
}

.button__mobile {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 3%;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button__mobile--left {
  left: 5%;
}

.button__mobile--right {
  left: 20%;
}

.button__mobile--jump {
  right: 5%;
  bottom: 15%;
}

.button__mobile--attack {
  color: black;
  right: 5%;
}

.icon__mobile {
  width: 20px;
  height: 20px;
}

.icon__mobile--left {
  transform: rotate(90deg);
}

.icon__mobile--right {
  transform: rotate(270deg);
}

.icon__mobile--up {
  transform: rotate(180deg);
}

.icon__mobile--attack {
  transform: rotate(130deg);
}