@media (orientation: portrait) and (max-width: 933px) {

    html,
    body {
        overflow: hidden;
        width: 100%;
        height: 100%;
    }

    .game-wrapper {
        display: none;
    }

    #rotateHint {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        inset: 0;
        background-color: #000;
        color: #fff;
        z-index: 999;
    }
}

@media (orientation: landscape) and (max-width: 933px) {

    html,
    body:not(.impressum__body) {
        position: fixed;
        overflow: hidden;
        height: 100%;
        width: 100%;
        background: #000;
        background-image: none;
        display: block;
    }

    body:not(.impressum__body) {
        position: relative;
    }

    body:not(.impressum__body) h1,
    body:not(.impressum__body) p,
    .button__fullscreen {
        display: none;
    }

    body:not(.impressum__body) .button__home {
        position: fixed;
        margin-left: auto;
        margin-right: auto;
    }

    .impressum__body {
        .button__home {
            position: absolute;
            bottom: 1%;
            border-radius: 6px;
        }
    }
}